[tool.poetry]
name = "pyhardlinkbackup"
version = "0.12.3"
description = "HardLink/Deduplication Backups with Python"
authors = ["JensDiemer <git@jensdiemer.de>"]
keywords=['Backup', 'Hardlink', 'Windows', 'Linux']
classifiers = [
    # http://pypi.python.org/pypi?%3Aaction=list_classifiers
    # "Development Status :: 4 - Beta",
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License (GPL)",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3 :: Only",
    'Framework :: Django',
    "Topic :: Database :: Front-Ends",
    "Topic :: Documentation",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Internet :: WWW/HTTP :: Site Management",
    "Topic :: Internet :: WWW/HTTP :: WSGI :: Application",
    "Operating System :: OS Independent",
]

# Will be generated from README.creole with: 'poetry run update_rst_readme'
readme='README.rst'

[tool.poetry.dependencies]
python = "^3.6"
iterfilesystem = "*"  # https://github.com/jedie/IterFilesystem
python-creole = "*"
pathlib_revised = "*"  # https://github.com/jedie/pathlib_revised/
#
# https://www.djangoproject.com/download/#supported-versions
# v2.2 LTS - extended support until April 2022
django = "2.2.*"
django-tools = "*"  # https://github.com/jedie/django-tools/
tqdm = "*"  # https://github.com/tqdm/tqdm
click = "*"  # https://github.com/mitsuhiko/click

[tool.poetry.dev-dependencies]
poetry-publish = "*"  # https://github.com/jedie/poetry-publish
tox = "*"
pytest = "*"
pytest-randomly = "*"
pytest-cov = "*"
pytest-django = "*"
coveralls = "*"
isort = "*"
flake8 = "*"
flynt = "*"
autopep8 = "*"

[tool.poetry.scripts]
phlb = "pyhardlinkbackup.phlb.cli:cli"
manage = "pyhardlinkbackup.django_project.manage:cli"
update_rst_readme = "pyhardlinkbackup.phlb.publish:update_readme"
publish = "pyhardlinkbackup.phlb.publish:publish"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
